<%= form_for(@centro_salud) do |f| %>
  <% if @centro_salud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@centro_salud.errors.count, "error") %> prohibited this centro_salud from being saved:</h2>

      <ul>
      <% @centro_salud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :publico %><br>
    <%= f.check_box :publico %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
