<h1>Directorio de Centros de Salud</h1>

<table class="table table-striped table-bordered table-condensed">
  <tbody>
  <tr>
    <td><b>Nombre de Centro</b></td>
    <td><b>RIF</b></td>
    <td><b>Telefono</b></td>
    <td><b>Dirección</b></td>
    <td><b>Página Web</b></td>
  </tr>
  <% @centro_saluds.each do |centro_salud| %>
      <tr>
        <td><%= link_to centro_salud.nombre, centro_salud, :class => 'h4' %></td>
        <td><%= centro_salud.rif %></td>
        <td><%= centro_salud.telefono %></td>
        <td><%= truncate(strip_tags(centro_salud.direccion), length: 100) %></td>
        <td><a href="<%= centro_salud.url %>"><%= centro_salud.url %></a></td>
      </tr>
  <% end %>
  </tbody>
</table>

<!--<%= link_to 'New Centro salud', new_centro_salud_path %>-->
