<h1>Listing centro_saluds</h1>

<table>
  <thead>
    <tr>
      <th>Publico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @centro_saluds.each do |centro_salud| %>
      <tr>
        <td><%= centro_salud.publico %></td>
        <td><%= link_to 'Show', centro_salud %></td>
        <td><%= link_to 'Edit', edit_centro_salud_path(centro_salud) %></td>
        <td><%= link_to 'Destroy', centro_salud, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Centro salud', new_centro_salud_path %>
