<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @centro_salud.nombre %>
</p>

<p>
  <strong>Rif:</strong>
  <%= @centro_salud.rif %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @centro_salud.direccion %>
</p>

<p>
  <strong>Direccionfiscal:</strong>
  <%= @centro_salud.direccionFiscal %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @centro_salud.telefono %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @centro_salud.fax %>
</p>

<p>
  <strong>Url:</strong>
  <%= @centro_salud.url %>
</p>

<p>
  <strong>Fechacreacion:</strong>
  <%= @centro_salud.fechaCreacion %>
</p>

<p>
  <strong>Publico:</strong>
  <%= @centro_salud.publico %>
</p>

<%= link_to 'Edit', edit_centro_salud_path(@centro_salud), :class => "btn btn-default" %><!--
<%= link_to 'Back', centro_saluds_path %> -->
