<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @paciente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @paciente.apellido %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @paciente.cedula %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @paciente.direccion %>
</p>

<p>
  <strong>Telefono casa:</strong>
  <%= @paciente.telefono_casa %>
</p>

<p>
  <strong>Telefono celular:</strong>
  <%= @paciente.telefono_celular %>
</p>

<p>
  <strong>Telefono oficina:</strong>
  <%= @paciente.telefono_oficina %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @paciente.sexo %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @paciente.fecha_nacimiento %>
</p>
<%= link_to 'Edit', edit_paciente_path(@paciente, :class => "btn btn-default") %> <!--
<%= link_to 'Back', pacientes_path %> -->
