<h1>Listing aseguradoras</h1>

<table>
  <thead>
    <tr>
      <th>Registro go</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aseguradoras.each do |aseguradora| %>
      <tr>
        <td><%= aseguradora.registro_go %></td>
        <td><%= link_to 'Show', aseguradora %></td>
        <td><%= link_to 'Edit', edit_aseguradora_path(aseguradora) %></td>
        <td><%= link_to 'Destroy', aseguradora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aseguradora', new_aseguradora_path %>
