<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @aseguradora.nombre %>
</p>

<p>
  <strong>Rif:</strong>
  <%= @aseguradora.rif %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @aseguradora.direccion %>
</p>

<p>
  <strong>Direccionfiscal:</strong>
  <%= @aseguradora.direccionFiscal %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @aseguradora.telefono %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @aseguradora.fax %>
</p>

<p>
  <strong>Url:</strong>
  <%= @aseguradora.url %>
</p>

<p>
  <strong>Fechacreacion:</strong>
  <%= @aseguradora.fechaCreacion %>
</p>

<p>
  <strong>Registro go:</strong>
  <%= @aseguradora.registro_go %>
</p>

<%= link_to 'Edit', edit_aseguradora_path(@aseguradora) , :class => "btn btn-default" %> <!--
<%= link_to 'Back', aseguradoras_path %> -->
