<h1>Directorio de Farmacias</h1>

<table class="table table-striped table-bordered table-condensed">
  <tbody>
  <tr>
    <td><b>Nombre Farmacia</b></td>
    <td><b>RIF</b></td>
    <td><b>Telefono</b></td>
    <td><b>Dirección</b></td>
    <td><b>Página Web</b></td>
  </tr>
  <% @farmacia.each do |farmacium| %>
      <tr>
        <td><%= link_to farmacium.nombre, farmacium, :class => 'h4' %></td>
        <td><%= farmacium.rif %></td>
        <td><%= farmacium.telefono %></td>
        <td><%= truncate(strip_tags(farmacium.direccion), length: 100) %></td>
        <td><a href="<%= farmacium.url %>"><%= farmacium.url %></a></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Farmacium', new_farmacium_path %>-->
