<h1>Listing farmacia</h1>

<table>
  <thead>
    <tr>
      <th>Reg sanitario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmacia.each do |farmacium| %>
      <tr>
        <td><%= farmacium.reg_sanitario %></td>
        <td><%= link_to 'Show', farmacium %></td>
        <td><%= link_to 'Edit', edit_farmacium_path(farmacium) %></td>
        <td><%= link_to 'Destroy', farmacium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farmacium', new_farmacium_path %>
