<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @farmacium.nombre %>
</p>

<p>
  <strong>Rif:</strong>
  <%= @farmacium.rif %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @farmacium.direccion %>
</p>

<p>
  <strong>Direccionfiscal:</strong>
  <%= @farmacium.direccionFiscal %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @farmacium.telefono %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @farmacium.fax %>
</p>

<p>
  <strong>Url:</strong>
  <%= @farmacium.url %>
</p>

<p>
  <strong>Fechacreacion:</strong>
  <%= @farmacium.fechaCreacion %>
</p>

<p>
  <strong>Reg sanitario:</strong>
  <%= @farmacium.reg_sanitario %>
</p>

<%= link_to 'Edit', edit_farmacium_path(@farmacium), :class => "btn btn-default" %> <!--
<%= link_to 'Back', farmacia_path %> -->
