<h1>Directorio de Centros de Exámenes Médicos</h1>

<table class="table table-striped table-bordered table-condensed">
  <tbody>
  <tr>
    <td><b>Nombre de Centro</b></td>
    <td><b>RIF</b></td>
    <td><b>Telefono</b></td>
    <td><b>Dirección</b></td>
    <td><b>Página Web</b></td>
  </tr>
  <% @centros_examenes.each do |centro_examenes| %>
      <tr>
        <td><%= link_to centro_examenes.nombre, centro_examenes, :class => 'h4' %></td>
        <td><%= centro_examenes.rif %></td>
        <td><%= centro_examenes.telefono %></td>
        <td><%= truncate(strip_tags(centro_examenes.direccion), length: 100) %></td>
        <td><a href="<%= centro_examenes.url %>"><%= centro_examenes.url %></a></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Centro examene', new_centro_examene_path %>-->
