<h1>Directorio Médico</h1>

<table class="table table-striped table-bordered table-condensed">
  <tbody>
  <tr>
    <td><b>Nombre</b></td>
    <td><b>Especialidad</b></td>
    <td><b>Teléfono Celular</b></td>
    <td><b>Curriculum Vitae</b></td>
    <td><b>Página Web</b></td>
  </tr>
  <% @medicos.each do |medico| %>
      <tr>
        <td><%= link_to medico.nombre, medico, :class => 'h4' %></td>
        <td><%= medico.especialidad_id %></td>
        <td><%= medico.telefono_celular %></td>
        <td><%= truncate(strip_tags(medico.cv), length: 100) %></td>
        <td><a href="<%= medico.url %>"><%= medico.url %></a></td>
      </tr>
  <% end %>
  </tbody>
</table>