<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @medico.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @medico.apellido %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @medico.cedula %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @medico.direccion %>
</p>

<p>
  <strong>Telefono casa:</strong>
  <%= @medico.telefono_casa %>
</p>

<p>
  <strong>Telefono celular:</strong>
  <%= @medico.telefono_celular %>
</p>

<p>
  <strong>Telefono oficina:</strong>
  <%= @medico.telefono_oficina %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @medico.sexo %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @medico.fecha_nacimiento %>
</p>

<p>
  <strong>Cmv:</strong>
  <%= @medico.cmv %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @medico.cv %>
</p>

<p>
  <strong>Url:</strong>
  <%= @medico.url %>
</p>

<%= link_to 'Edit', edit_medico_path(@medico) %> |
<%= link_to 'Back', medicos_path %>
